@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
 height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #e5e5e5;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
}

/* Хэдер */

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  margin-bottom: -1px;
  background-color: #ffffff;
}

.page-logo {
  position: absolute;
  width: 139px;
  margin-left: 40px;
}

/* Навигация */

.navigation {
  display: flex;
  min-width: 345px;
  max-width: 600px;
  margin-left: 209px;
  padding: 0 20px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.navigation-link {
  display: block;
  margin-right: 34px;
  padding: 20px 0;
  text-decoration: none;
  color: #000000;
}

.navigation-item:last-of-type .navigation-link {
  margin-right: 0;
}

.navigation-link-curent::before {
  position: absolute;
  left: 0px;
  right: 34px;
  bottom: 0;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-item:last-of-type .navigation-link-curent::before {
  right: 0;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:focus {
  color: revert;
}

/* Меню */

.user-menu {
  max-width:264px;
  margin-left: auto;
  margin-right: 70px;
}

.user-menu-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 180px;
  display: flex;
}

.user-menu-link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 42px;
  margin: 24px 0;
  min-height: 18px;
  min-width: 18px;
}

.user-menu-link:hover .user-menu-icon {
  fill: #756257;
}

.user-menu-link:active  .user-menu-icon  {
  fill: #756257;
  opacity: 0.3;
}

.user-menu-amount {
  position: absolute;
  top: -9px;
  right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7DB550;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.user-menu-link:active .user-menu-amount {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu-icon {
  fill: #000000;
}

.user-menu-item {
  position: relative;
}

.user-menu-item:not(:last-of-type) {
  width: 42px;
}

.button {
  display: block;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

.user-menu-button {
  position: absolute;
  box-sizing: border-box;
  top: 14px;
  left: 20px;
  width: 160px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.user-menu-button:hover {
  background-color: #615048;
}

.user-menu-button:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.user-menu-button:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #68A2CA;
}

/* Главная */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #000000;
}

.welcome {
  background-image:
  url("../images/divider.svg"),
  url("../images/index-background.jpg");
  background-position:
  bottom,
  top;
  background-size:
  100% auto,
  100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
}

.logo {
  display: block;
  margin: 0 auto;
}

.reasons {
  padding-top: 63px;
  padding-bottom: 79px;
}

.reasons-title {
  width: 720px;
  margin: 0 auto 23px auto;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.reasons-description {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.advantages-item {
  box-sizing: border-box;
  width: 400px;
  padding: 89px 75px 89px 75px;
}

.advatages-img {
  width: 800px;
}

.advatages-item-img {
  display: block;
  margin: 0 auto;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.advantage-main {
  background-color: #83B3D3;
  color: #ffffff;
  text-align: center;
}

.advantages-title {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.advantage-add {
  padding-top: 98px;
  padding-bottom: 108px;
}

.advantage-with-icon .advantages-title {
  padding-top: 95px;
}

.housing {
  background-image: url("../images/housing.svg");
}

.food {
  background-image: url("../images/food.svg");
}

.suveniers {
  background-image: url("../images/suveniers.svg");
}

.advantage-main .advanteges-description {
  color: #ffffff;
}

.advanteges-description {
  margin: 0;
  text-align: center;
  color: #333333;
}

.advanteges-description:not(:last-child) {
  margin-bottom: 25px;
}

.advantage-add .advanteges-description:not(:last-child) {
  margin-bottom: 30px;
}

.advantage-add .advantages-title {
  margin-bottom: 29px;
}

.hotel-search {
  display: flex;
  padding: 92px 240px;
  flex-direction: column;
  text-align: center;
}

.search-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  box-sizing: border-box;
  width: 575px;
  padding: 12px 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #68A2CA;
}

.distribution {
  display: flex;
  flex-direction: column;
  padding: 94px 200px;
  background-image: url(../images/distribution-background.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

.distribution-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.distribution-description {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.distribution-form {
  display: flex;
}

.distribution-letter {
 color:rgba(0, 0, 0, 0.6);
 background-color: #f2f2f2;
 flex-grow: 1;
 padding: 0 20px;
 border-radius: 10px 0 0 10px;
 border: none;
 font-size: 18px;
 line-height: 26px;
}

.distribution-letter:hover {
  background-color: #e6e6e6;
}

.distribution-letter:focus {
  background-color: #e6e6e6;
  box-shadow: inset 0 0 0 3px #83B3D3;
}

.distribution-button {
  width: 200px;
  padding: 17px 0;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
}

.distribution-button:hover {
  background-color: #68A2CA;
}

.distribution-button:active {
  background-color: #68A2CA;
  opacity: 0.3;
}

.distribution-button:focus {
  background-color: #68A2CA;
  box-shadow: inset 0 0 0 3px #756257;
}

/* Футер */

.page-footer {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1200px;
  padding: 40px 72px 30px 72px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}

.footer-media {
  max-width: 110px;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.media-list {
  display: flex;
  margin: 0;
  margin-top: 10px;
  padding: 0;
  justify-content: space-between;
  list-style-type: none;
}

.media-item {
  align-self: center;
  margin-right: 5px;
}

.media-item:nth-of-type(3n) {
  margin-right: 0;
}

.media-logo {
  position: relative;
  top: -12.5px;
  left: -11px;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0;
}

.media-icon {
  position: absolute;
  min-width: 10px;
  min-height: 15px;
  fill: #83B3D3;
}

.twitter {
  padding: 12.5px 11px;
}

.faceboock {
  padding: 11px 15px;
}

.youtube {
  padding: 12px 10px;
}

.media-logo:hover .media-icon {
  fill: #68A2CA;
}

.media-logo:active .media-icon {
  fill: #68A2CA;
  opacity: 0.3;
}

.media-logo:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.media-logo:focus .media-icon {
  fill: #68A2CA;
}

.footer-contacts {
  width: 720px;
  text-align: center;
}

.footer-contacts-phone {
  display: block;
  box-sizing: border-box;
  width: 361px;
  margin: -15px auto -5px auto;
  padding: 15px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.footer-referal {
  position: relative;
  width: 115px;
  height: 50px;
}

.referal-logo {
  position: absolute;
  left: -22.5px;
  top: -10px;
  box-sizing: border-box;
  padding: 18.5px 22.5px;
  width: 160px;
  height: 70px;
  display: block;
  fill: #000000;
}

.referal-logo:hover .footer-icon {
  fill: #756257;
}

.referal-logo:active .footer-icon {
  fill: #756257;
  opacity: 0.3;
}

.referal-logo:focus {
  box-shadow: inset 0 0 0 3px #83B3D3;
  border-radius: 10px;
}

.referal-logo:focus .footer-icon {
  fill: #756257;
}

/* Каталог */

.inner-container {
  flex-grow: 1;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 70px;
}

.catalog-header {
  padding: 35px 0 83px 0;
  background-image: url(../images/catalog-background.jpg);
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.catalog-form-title {
font-size: 20px;
line-height: 26px;
font-weight: 700;
}

.catalog-form {
  display: flex;
}

.catalog-form-group {
  margin: 0;
  padding: 0;
  width: 200px;
  margin-right: 17px;
}

.catalog-filter-item {
  line-height: 23px;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.catalog-button-accept {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #83B3D3;
  border-radius: 4px;
}

.catalog-button-reset {
  font-size: 18px;
  line-height: 23px;
  text-transform: none;
  font-weight: 400;
  background-color: transparent;
}

.catalog-container{
  display: flex;
  flex-direction: column;
  width: 1060px;
  margin: 0 70px;
}

.sort {
  display: flex;
  padding: 44px 0 53px 0;
}

.sort-title {
  padding: 0;
  margin: 0;
  width: 338px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sort-control {
  margin: 0;
  margin-left: auto;
  margin-right: 80px;
  padding: 12px 19px;
  width: 287px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.sort-visualisation {
  display: flex;
  max-width: 160px;
}

.button-light {
  min-width: 48px;
  min-height: 48px;
  margin-right: 8px;
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}

.button-light:last-of-type {
  margin-right: 0;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.active {
  border:2px solid #000000;
  border-radius: 4px;
}

.products-list {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 339px);
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.products-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-img {
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-card-description-container {
  display: flex;
  flex-wrap: wrap;
}

.product-description {
  display: block;
  width: 133px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  margin-right: 25px;
  line-height: 23px;
  color: #333333;
}

.product-description:nth-child(2n) {
  margin-right: 0;
}

.about-product-button {
  width: 133px;
  padding: 10px 0;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
}

.chosen-button {
  width: 140px;
  margin-left: auto;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #83B3D3;
}

.product-rate-container {

  background-image: url("../images/star.svg");
  background-position: left 50%;
  background-repeat: repeat-x;
  background-size: 25px 17px;
}

.two-star {
  width: 50px;
}

.three-star {
  width: 75px;
}

.four-star {
  width: 100px;
}

.product-rate {
  width: 160px;
  padding: 10px 0;
  margin: 0;
  margin-left: auto;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

.pagination-container {
  display: flex;
}

.catalog-button-container {
  padding: 29px 0;
  margin-bottom: 30px;
  border-top: 1px solid #E6E6E6;
  border-bottom: 1px solid #E6E6E6;
}

.more-products-button {
  width: 620px;
  margin: 0 auto;
  padding: 17px 0;
  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-button {
  width: 55px;
  height: 55px;
  padding: 14px 0;

  background-color: #83B3D3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

.pagination-curent {
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #000000;
}

.pagination-number {
  align-self: center;
  padding-left: 17px;
  height: 46px;
  margin: 0;
  width: 160px;
  line-height: 23px;
  color: #333333;
  font-size: 18px;
  border: 2px solid #E6E6E6;
}

.product-amount {
  align-self: center;
  margin: 0;
  margin-left: auto;
  margin-right: 50px;
  width: 175px;
}

.distribution-catalog {
  padding-top: 90px;
  padding-bottom: 140px;
  background-color: #ffffff;
  color: #000000;
  background-image: none;
}

.distribution-catalog .distribution-description {
  color: #333333;
}
