@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #e5e5e5;
  color: #000000;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}

/* Хэдер */

.page-header {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.page-logo {
  position: absolute;
  width: 139px;
  margin-left: 70px;
}

/* Навигация */

.navigation {
  display: flex;
  min-width: 345px;
  max-width: 600px;
  margin-left: 224px;
  padding: 0 17px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation-item {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.navigation-link {
  display: block;
  margin-right: 4px;
  padding: 20px 15px 19px;
  text-decoration: none;
  color: #000000;
}

.navigation-item:last-of-type .navigation-link {
  margin-right: 0;
}

.navigation-link-current::before {
  position: absolute;
  left: 15px;
  right: 19px;
  bottom: -1px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-item:last-of-type .navigation-link-current::before {
  right: 15px;
}

.navigation-link:hover {
  color: #756257;
}

.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-link:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #68a2ca;
  border-radius: 4px;
}

/* Меню */

.user-menu {
  max-width: 310px;
  margin-left: auto;
  margin-right: 70px;
}

.user-menu-list {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 180px;
}

.user-menu-link {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 42px;
  margin: 23px 0;
  min-height: 18px;
  min-width: 18px;
}

.user-menu-link:hover .user-menu-icon {
  fill: #756257;
}

.user-menu-link:active .user-menu-icon {
  fill: #756257;
  opacity: 0.3;
}

.user-menu-link:focus .user-menu-icon {
  fill: #000000;
}

.user-menu-amount {
  position: absolute;
  top: -9px;
  right: -2px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #7db550;
  font-size: 10px;
  line-height: 13px;
  color: #ffffff;
}

.user-menu-link:active .user-menu-amount {
  color: rgba(255, 255, 255, 0.3);
}

.user-menu-item:not(:last-of-type) {
  width: 42px;
}

.button {
  display: block;
  background-color: #756257;
  color: #ffffff;
  text-align: center;
  font-family: inherit;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.user-menu-button {
  position: absolute;
  top: 14px;
  right: 0;
  width: 160px;
  padding: 9px 15px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.user-menu-button:hover {
  background-color: #615048;
}

.user-menu-button:active {
  color: rgba(255, 255, 255, 0.3);
  border: none;
}

.user-menu-button:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #68a2ca;
}

/* Главная */

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  color: #000000;
}

.welcome {
  background-image:
    url("../images/divider.svg"),
    url("../images/index-background.jpg");
  background-position:
    bottom,
    top;
  background-size:
    100% auto,
    100% auto;
  background-repeat: no-repeat;
  padding-top: 51px;
  padding-bottom: 82px;
  background-color: #000000;
}

.logo {
  display: block;
  margin: 0 auto;
}

.reasons {
  padding-top: 63px;
  padding-bottom: 80px;
}

.reasons-title {
  width: 720px;
  margin: 0 auto 31px auto;
  padding: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.reasons-description {
  width: 720px;
  margin: 0 auto;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.advantages-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 400px;
  padding: 97px 90px 87px;
}

.advatages-img {
  width: 800px;
}

.advatages-item-img {
  display: block;
  margin: 0 auto;
}

.advantages-item:nth-child(2n+1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item.advantage-main {
  background-color: #83b3d3;
  color: #ffffff;
  text-align: center;
}

.advantages-title {
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  width: 200px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.advantage-add {
  padding: 98px 75px 108px;
}

.advantage-with-icon {
  padding: 89px 75px;
}

.advantage-with-icon .advantages-title {
  padding-top: 95px;
  margin-bottom: 20px;
}

.housing {
  background-image: url("../images/housing.svg");
}

.food {
  background-image: url("../images/food.svg");
}

.souvenirs {
  background-image: url("../images/souvenirs.svg");
}

.advantage-main .advanteges-description {
  color: #ffffff;
}

.advanteges-description {
  margin: 0;
  text-align: center;
  color: #333333;
}

.advanteges-description:not(:last-child) {
  margin-bottom: 30px;
}

.advantage-add .advanteges-description:not(:last-child) {
  margin-bottom: 30px;
}

.advantage-add .advantages-title {
  margin-bottom: 29px;
}

.hotel-search {
  display: flex;
  padding: 92px 240px;
  flex-direction: column;
  text-align: center;
}

.search-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-description {
  padding: 0;
  margin: 0;
  margin-bottom: 56px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.search-button {
  width: 575px;
  padding: 12px 0;
  margin: 0 auto;
  font-size: 20px;
  line-height: 36px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-button:focus {
  background-color: #615048;
  box-shadow: inset 0 0 0 3px #68a2ca;
}

.distribution {
  display: flex;
  flex-direction: column;
  padding: 94px 200px;
  background-image: url("../images/distribution-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}

.distribution-title {
  padding: 0;
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.distribution-description {
  padding: 0;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
}

.distribution-form {
  display: flex;
}

.distribution-letter {
  color: rgba(0, 0, 0, 0.6);
  background-color: #f2f2f2;
  flex-grow: 1;
  padding: 0 20px;
  border-radius: 10px 0 0 10px;
  border: none;
  font-size: 18px;
  line-height: 26px;
}

.distribution-letter:hover {
  background-color: #e6e6e6;
}

.distribution-letter:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.distribution-letter:disabled {
  background-color: #595959;
}

.distribution-letter:disabled:hover,
.distribution-letter:disabled:active,
.distribution-letter:disabled:focus {
  background-color: #595959;
  box-shadow: none;
  cursor: default;
}

.distribution-button {
  width: 200px;
  padding: 17px 0;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 0 10px 10px 0;
}

.distribution-button:hover {
  background-color: #68a2ca;
}

.distribution-button:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.distribution-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

/* Футер */

.page-footer {
  display: flex;
  box-sizing: border-box;
  width: 1200px;
  padding: 40px 72px 30px 72px;
  margin: 0 auto;
  background-color: #ffffff;
  color: #000000;
}

.footer-media {
  max-width: 135px;
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.media-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: -3.5px;
  margin-left: -12.5px;
  padding: 0;
  list-style-type: none;
}

.media-item {
  align-self: center;
  margin-right: 5px;
}

.media-item:nth-of-type(3n) {
  margin-right: 0;
}

.media-link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
}

.media-icon {
  position: absolute;
  min-width: 10px;
  min-height: 15px;
  fill: #83b3d3;
}

.media-link:hover .media-icon {
  fill: #68a2ca;
}

.media-link:active .media-icon {
  fill: #68a2ca;
  opacity: 0.3;
}

.media-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.media-link:focus .media-icon {
  fill: #68a2ca;
}

.footer-contacts {
  width: 720px;
  margin-right: 53px;
}

.footer-phone {
  display: flex;
  text-align: center;
}

.footer-contacts-phone {
  display: block;
  width: 361px;
  margin: -15px auto -5px auto;
  padding: 15px 0;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-contacts-phone:hover {
  color: #756257;
}

.footer-contacts-phone:active {
  color: #756257;
  opacity: 0.3;
}

.footer-contacts-phone:focus {
  color: #756257;
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.footer-referal {
  position: relative;
  width: 115px;
  height: 50px;
}

.referal-logo {
  position: absolute;
  left: -22.5px;
  top: -18px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 160px;
  height: 70px;
  fill: #000000;
}

.referal-logo:hover .footer-icon {
  fill: #756257;
}

.referal-logo:active .footer-icon {
  fill: #756257;
  opacity: 0.3;
}

.referal-logo:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 10px;
}

.referal-logo:focus .footer-icon {
  fill: #756257;
}

/* Каталог */

.inner-container {
  flex-grow: 1;
}

.filter-container {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 72px;
}

.catalog-header {
  padding: 35px 0 84px 0;
  background-image: url("../images/catalog-background.jpg");
  color: #ffffff;
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-title {
  padding: 0;
  margin: 0;
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

/* Хлебные крошки*/

.breadcrumbs-list {
  margin: 0;
  margin-bottom: 45.2px;
  margin-top: -7px;
  margin-left: -7px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  text-align: center;
}

.breadcrumbs-item {
  position: relative;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.breadcrumbs-item::after {
  position: absolute;
  right: -10px;
  bottom: 5px;
  background-image: url("../images/nav-link.svg");
  background-size: 5px 8px;
  height: 8px;
  width: 5px;
  background-repeat: no-repeat;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  box-sizing: border-box;
  padding: 3px 8px;
  margin: 0;
  margin-top: -3px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

.breadcrumbs-icon {
  fill: #ffffff;
}

.breadcrumbs-link:hover {
  opacity: 0.6;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

/* Сортировка*/

.catalog-form {
  display: flex;
}

.catalog-form-group {
  margin: 0;
  padding: 0;
  width: 200px;
  margin-right: 17px;
  border: none;
  font-family: inherit;
}

.catalog-form-group:last-of-type {
  margin-left: 94px;
}

.catalog-form-title {
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 30px;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog-filter-item {
  line-height: 23px;
  margin-bottom: 13px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 39px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
  color: #000000;
  content: "";
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control:focus .control-mark {
  opacity: 0.6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/control-mark.svg");
  background-size: 12.2px 9.9px;
  background-position: center;
  background-repeat: no-repeat;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control:hover .control-input[type="radio"] + .control-mark {
  opacity: 1;
}

.control:active .control-input[type="radio"] + .control-mark {
  opacity: 1;
}

.control:focus .control-input[type="radio"]:checked + .control-mark {
  opacity: 1;
  box-shadow: 0 0 0 3px #83b3d3;
}

.control:focus .control-input[type="radio"]:not(:checked) + .control-mark {
  opacity: 1;
  box-shadow: inset 0 0 0 3px #83b3d3;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, 50%);
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #3f5e72;
  content: "";
}

.range {
  max-width: 300px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: flex-start;
  width: 287px;
  margin-top: 5px;
  margin-bottom: 28px;
}

.range-label {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  min-width: 144px;
  color: rgba(255, 255, 255, 0.3);
}

.range-input {
  min-width: 50px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  box-shadow: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.range-min {
  padding: 12px 11px 8px 18px;
  border: 2px solid #ffffff;
  border-right: 1px solid #ffffff;
  border-radius: 4px 0 0 4px;
}

.range-max {
  min-width: 143px;
  padding: 12px 15px 9px 15px;
  border: 2px solid #ffffff;
  border-left: 1px solid #ffffff;
  border-radius: 0 4px 4px 0;
}

.range-max:hover,
.range-min:hover {
  border-color: rgba(255, 255, 255, 0.6);
}

.range-max:active,
.range-min:active {
  background-color: #756257;
}

.range-max:focus,
.range-min:focus {
  box-shadow:
    inset 0 0 0 3px #81b3d2,
    0 0 0 3px #81b3d2;
}

.range-amount {
  min-width: 20px;
  padding: 0;
  margin: 0;
  line-height: 23px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  box-shadow:
    0 0 0 2px #83b3d3,
    0 7px 15px rgba(0, 0, 0, 0.4);
}

.range-toggle:focus {
  box-shadow:
    0 0 0 3px #83b3d3,
    0 4px 10px rgba(0, 0, 0, 0.25);
}

.toggle-min {
  left: 0;
  bottom: -8px;
}

.toggle-max {
  right: -9px;
  bottom: -8px;
}

.filter-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.catalog-button-accept {
  width: 160px;
  margin-bottom: 16px;
  padding: 13.5px 0;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  background-color: #83b3d3;
  border-radius: 4px;
}

.catalog-button-accept:hover {
  background-color: #68a2ca;
}

.catalog-button-accept:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.catalog-button-accept:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #ffffff;
}

.catalog-button-reset {
  margin-bottom: -5px;
  padding: 4px 0 5px 0;
  font-size: 18px;
  line-height: 23px;
  width: 100px;
  text-transform: none;
  font-weight: 400;
  background-color: transparent;
  border-radius: 4px;
}

.catalog-button-reset:hover {
  opacity: 0.6;
}

.catalog-button-reset:active {
  opacity: 0.3;
}

.catalog-button-reset:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
}

/* Список гостиниц*/

.catalog-container {
  display: flex;
  flex-direction: column;
  width: 1056px;
  margin: 0 72px;
}

.sort {
  display: flex;
  margin: 44px 0 45px 0;
}

.sort-title {
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-left: -1px;
  width: 338px;
  font-weight: 700;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}

.sort-control {
  box-sizing: border-box;
  margin: 0;
  margin-left: 190px;
  padding: 10px 19px 15px;
  padding-right: 33px;
  width: 287px;
  height: 48px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  -webkit-appearance: none;
          appearance: none;
}

.sort-control:hover {
  border-color: #83b3d3;
}

.sort-control:active {
  color: rgba(0, 0, 0, 0.3);
}

.sort-control:focus {
  border-color: #83b3d3;
}

.sort-visualisation {
  display: flex;
  max-width: 225px;
  margin-left: auto;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.button-light {
  padding: 17px 16px;
  width: 48px;
  height: 48px;
  margin-left: 8px;
  margin-bottom: 8px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: 16px 14px;
  background-position: 50% 50%;
  color: #000000;
  box-shadow: inset 0 0 0 2px #e6e6e6;
  border-radius: 4px;
}

.button-tile {
  background-image: url("../images/mode-tile.svg");
}

.button-slide {
  background-image: url("../images/mode-slideshow.svg");
}

.button-list {
  background-image: url("../images/mode-list.svg");
}

.button-light:hover {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.button-light:active {
  box-shadow: inset 0 0 0 2px #000000;
}

.button-light:focus {
  box-shadow: inset 0 0 0 2px #83b3d3;
}

.button-light:last-of-type {
  margin-right: 0;
}

.catalog-products {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.active {
  box-shadow: inset 0 0 0 2px #000000;
}

/* Карточки */

.products-list {
  display: grid;
  column-gap: 18px;
  row-gap: 10px;
  grid-template-columns: repeat(3, 340px);
  list-style-type: none;
  margin: 0;
  margin-bottom: 34px;
  padding: 0;
}

.products-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.product-card-img-link {
  margin-bottom: 16px;
}

.product-card-img-link:hover {
  opacity: 0.6;
}

.product-card-img-link:active {
  opacity: 0.3;
}

.product-card-img-link:focus {
  box-shadow: 0 0 0 3px #83b3d3;
}

.product-card-img {
  display: block;
  margin: 0 auto;
}

.product-card-link {
  text-decoration: none;
  color: #000000;
}

.product-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
}

.product-card-description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-description {
  display: block;
  width: 133px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  line-height: 23px;
  color: #333333;
}

.product-description:nth-child(2) {
  width: 143px;
}

.product-description:nth-child(2n) {
  margin-right: 0;
}

.about-product-button {
  width: 133px;
  padding: 8px 0;
  margin-bottom: 16px;
  border-radius: 4px;
  font-size: 16px;
}

.about-product-button:hover {
  background-color: #615048;
}

.about-product-button:active {
  background-color: #615048;
  opacity: 0.3;
}

.about-product-button:focus {
  background-color: #615048;
  box-shadow: 0 0 0 3px #83b3d3;
}

.chosen-button {
  width: 140px;
  margin-bottom: 16px;
  padding: 8px 10px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #83b3d3;
}

.chosen-button:hover {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
}

.chosen-button:active {
  background-color: #68a2ca;
  box-shadow: inset 0 0 0 1px #756257;
  opacity: 0.3;
}

.chosen-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.chosen-button-active {
  background-color: #7db54f;
}

.chosen-button-active:hover {
  background-color: #6c9e42;
}

.chosen-button-active:active {
  background-color: #6c9e42;
}

.chosen-button-active:focus {
  background-color: #6c9e42;
}

.product-rate-container {
  background-image: url("../images/star.svg");
  background-position: left -3px center;
  background-repeat: repeat-x;
  background-size: 25px 17px;
}

.two-star {
  width: 50px;
}

.three-star {
  width: 75px;
}

.four-star {
  width: 100px;
}

.product-rate {
  width: 160px;
  padding: 8px 0;
  margin: 0;
  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
}

/* Пагинация */

.catalog-button-container {
  padding: 29px 0;
  margin-bottom: 30px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.more-products-button {
  width: 620px;
  margin: 0 auto;
  padding: 17px 0;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

.more-products-button:hover {
  background-color: #68a2ca;
}


.more-products-button:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.more-products-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.pagination-container {
  display: flex;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 670px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-bottom: 5px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-button {
  min-width: 55px;
  min-height: 55px;
  padding: 14px 0;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  border-radius: 4px;
}

.pagination-button:hover {
  background-color: #68a2ca;
}

.pagination-button:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.pagination-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.pagination-current {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination-number {
  box-sizing: border-box;
  padding: 13px 41px 12px 17px;
  height: 48px;
  margin: 0;
  margin-top: 3px;
  width: 160px;
  line-height: 23px;
  color: #333333;
  font-size: 18px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  background-image: url("../images/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 21px center;
  -webkit-appearance: none;
          appearance: none;
}

.pagination-number:hover {
  border-color: #83b3d3;
}

.pagination-number:active {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-number:focus {
  border-color: #83b3d3;
}

.product-amount {
  align-self: center;
  margin: -5px 51px 0 auto;
  width: 175px;
  line-height: 23px;
}

.distribution-catalog {
  padding-top: 69px;
  padding-bottom: 141px;
  background-color: #ffffff;
  color: #000000;
  background-image: none;
}

.distribution-catalog .distribution-title {
  margin-bottom: 46px;
}

.distribution-catalog .distribution-description {
  color: #333333;
}

.modal-conteiner {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal-conteiner-close {
  display: none;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 715px;
  padding: 70px;
  background: #ffffff;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-header {
  margin: -10px 0 60px -2px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.modal-close-button {
  position: absolute;
  right: 70px;
  top: 54px;
  width: 53px;
  height: 53px;
  border-radius: 50%;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.modal-close-button::after,
.modal-close-button::before {
  position: absolute;
  width: 17px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.modal-close-button::before {
  transform: translateX(-50%) rotate(45deg);
}

.modal-close-button::after {
  transform: translateX(-50%) rotate(-45deg);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:active {
  background-color: #e6e6e6;
  opacity: 0.3;
}

.modal-close-button:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.modal-label {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
}

.modal-description {
  position: relative;
  width: 155px;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
}

.kids-info-button {
  position: absolute;
  left: 53px;
  top: 15px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  content: "";
}

.kids-info-button:hover {
  background-color: #68a2ca;
}

.kids-info-tooltip {
  display: none;
  position: absolute;
  top: 40px;
  left: -115.5px;
  width: 256px;
  box-sizing: border-box;
  padding: 15px 20px;
  font-size: 16px;
  line-height: 20px;
  background: #333333;
  color: #ffffff;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.kids-info-tooltip::before {
  position: absolute;
  left: 120px;
  top: -9px;
  width: 8.5px;
  height: 9px;
  background-image: linear-gradient(-45deg, #333333 50%, #ffffff 50%);
  content: "";
}

.kids-info-tooltip::after {
  position: absolute;
  left: 128.5px;
  top: -9px;
  width: 8.5px;
  height: 9px;
  background-image: linear-gradient(45deg, #333333 50%, #ffffff 50%);
  content: "";
}

.kids-info-button:hover .kids-info-tooltip {
  display: block;
}

.modal-label:last-of-type .modal-description {
  width: 54px;
  padding-right: 43px;
}

.input-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}


.input-button:hover,
.input-button:active {
  background-color: transparent;
}

.input-button:focus {
  box-shadow: inset 0 0 0 3px #83b3d3;
  border-radius: 4px;
}

.input-less {
  left: 13px;
}

.input-more {
  right: 13px;
}

.input-less::before {
  position: absolute;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.input-more::before,
.input-more::after {
  position: absolute;
  width: 13px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  content: "";
}

.input-more::after {
  transform: rotate(90deg);
}

.input-more:hover::before,
.input-more:hover::after,
.input-less:hover::before {
  background-color: #000000;
}

.input-more:active::before,
.input-more:active::after,
.input-less:active::before {
  background-color: rgba(0, 0, 0, 0.2);
}

.input-more:focus::before,
.input-more:focus::after,
.input-less:focus::before {
  background-color: #000000;
}

.modal-input {
  box-sizing: border-box;
  width: 420px;
  height: 50px;
  padding: 0 35px 0 20px;
  background: #f2f2f2;
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  font-family: inherit;
  background-image: url("../images/date.svg");
  background-repeat: no-repeat;
  background-size: 15px 15px;
  background-position: right 19px center;
  opacity: 0.6;
}

.modal-input::placeholder {
  color: #000000;
}

.modal-input:hover {
  background-color: #e6e6e6;
}

.modal-input:active {
  background-color: #ffffff;
  box-shadow: inset 0 0 0 2px #000000;
  opacity: 1;
}

.modal-input:focus {
  background-color: #e6e6e6;
  box-shadow: 0 0 0 3px #83b3d3;
}

.modal-input:disabled {
  background-color: #595959;
}

.modal-input:disabled:hover,
.modal-input:disabled:active,
.modal-input:disabled:focus {
  background-color: #595959;
  box-shadow: none;
  cursor: default;
}

.input-number {
  text-align: center;
  padding: 0;
  width: 133px;
  background-image: none;
}

.input-number::-webkit-outer-spin-button,
.input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
}

.modal-button {
  width: 575px;
  padding: 10px 0;
  margin: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
  background-color: #83b3d3;
}

.modal-button:hover {
  background-color: #68a2ca;
}

.modal-button:active {
  background-color: #68a2ca;
  opacity: 0.3;
}

.modal-button:focus {
  background-color: #68a2ca;
  box-shadow: 0 0 0 3px #756257;
}

.input-additional {
  position: absolute;
  top: 50px;
  left: 155px;
  font-size: 16px;
  line-height: 29px;
}

/* Дополнительные стили*/

.error-text {
  color: #ff5757;
}

.distribution-letter:focus:invalid,
.input-error {
  box-shadow: inset 0 0 0 2px #ff5757;
}

input[type="number"] {
  -webkit-appearance: textfield;
          appearance: textfield;
}
